.custom-button-container {
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(262.71deg, #00d1ff -30.04%, #00ffa3 124.74%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button-container:hover {
    cursor: pointer;
}